In [7]:
import csv
import datetime
import os
import pandas as pd
import sys
from collections import defaultdict
from collections import OrderedDict

In [2]:
# This adddress hosts the MTA turnstile data
MTA_url = 'http://web.mta.info/developers/data/nyct/turnstile/'

In [3]:
def get_filenames(start_date, n_weeks):
    """This function returns a list of MTA data file names for the
    period from start_date  spanning n_weeks.
    """
    
    ONE_WEEK = datetime.timedelta(days=7)

    # Identify first Saturday on or after specified date. Files are
    # named for the day when published, which is always a Saturday.

    if None == start_date:
        start_date = datetime.date.today() - n_weeks * ONE_WEEK
        
    first_saturday = start_date + datetime.timedelta(days=5 - start_date.weekday())
    
    # Compose list of requested dates
    
    dates = [first_saturday + ONE_WEEK * i for i in range(n_weeks)]
    
    # Return file names sorted chronologically
    
    return sorted(['turnstile_' + d.strftime('%y%m%d') + '.txt' for d in dates])

In [4]:
def read_data(n_weeks=4, start_date=None):
    # Get files to read

    frames = []
    for name in get_filenames(start_date, n_weeks):

        # Create data frame for each file.  If the file exists locally,
        # use it. Otherwise, download it and save a copy for the next
        # time

        if os.path.exists(name):
            print 'reading local', name
            frames.append(pd.read_csv(name))
        else:
            print 'reading url', MTA_url + name
            frames.append(pd.read_csv(MTA_url + name))
            frames[-1].to_csv(name, index=False)

    # Concatenate data frames

    return pd.concat(frames)

In [81]:
raw_df = read_data(12, datetime.date(2016, 6, 1))

reading local turnstile_160604.txt
reading local turnstile_160611.txt
reading local turnstile_160618.txt
reading local turnstile_160625.txt
reading local turnstile_160702.txt
reading local turnstile_160709.txt
reading local turnstile_160716.txt
reading local turnstile_160723.txt
reading local turnstile_160730.txt
reading local turnstile_160806.txt
reading local turnstile_160813.txt
reading local turnstile_160820.txt

In [122]:
def make_dict(df):
    """Convert turnstile data frame to dictionary that maps each STATION
    to a list of { DATE : [TIME, ENTRIES, EXITS], ... } values

    df: Pandas data frame with raw turnstile data
    """

    #   Build dictionary

    d = OrderedDict()
    for row in df.values:
        key = tuple(row[:4])
        date, time, entries, exits = (row[6], row[7], row[9], row[10])
        dt = datetime.datetime.strptime(date + ' ' + time, '%m/%d/%Y %H:%M:%S')
        if 0 == dt.minute + dt.second: # ignore invalid times
            d.setdefault(key, []).append([dt, entries, exits])

    #   { (C/A, UNIT, SCP, STATION) : [[DATE-TIME, ENTRIES, EXITS], ...]}

    #   Convert cumulative counts to increments
    
    for key, counts in d.items():
        for i in range(len(counts) - 1, 0, -1):
            dt1, entries1, exits1 = tuple(counts[i])
            dt2, entries2, exits2 = tuple(counts[i-1])
            if dt1 == dt2 + datetime.timedelta(hours=4):
                counts[i][1] = abs(entries1 - entries2) # handle negative deltas
                counts[i][2] = abs(exits1 - exits2)
            else:
                counts[i][1] = 0
                counts[i][2] = 0
        counts.pop(0)

    #   { (C/A, UNIT, SCP, STATION) : [[DATE-TIME, DELTA_ENTRIES, DELTA_EXITS], ...]}

    #   Remove large outliers

    cleaned = OrderedDict()
    for key, counts in d.items():
        for vals in counts:
            entries, exits = (vals[1], vals[2])
            if entries < 50000 and exits < 50000:
                cleaned.setdefault(key, []).append(vals)

    #   Aggregate counts for each station

    agg = OrderedDict()
    for key, counts in cleaned.items():
        station = key[3]
        for vals in counts:
            dt = vals[0]
            agg.setdefault((station, dt), []).append(vals[1:])

    # { (STATION, DATE-TIME) : [[DATE-TIME, DELTA_ENTRIES, DELTA_EXITS], ...]}

    d = OrderedDict()
    for key, counts in agg.items():
        station, dt = key
        entries, exits = zip(*counts)
        d.setdefault(station, []).append([dt.date(), dt.weekday(), dt.hour, sum(entries), sum(exits)])
        
    return d

In [123]:
d = make_dict(raw_df)

In [124]:
def dataframe_from_dict(d):
    flattened = []
    for station, tally in d.items():
        for data in tally:
            flattened.append([station] + data)
    return pd.DataFrame(flattened, columns=['STATION', 'DATE-TIME', 'DATE' 'DAY', 'TIME', 'ENTRIES', 'EXITS'])

In [162]:
df = dataframe_from_dict(d)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195939 entries, 0 to 195938
Data columns (total 6 columns):
STATION      195939 non-null object
DATE-TIME    195939 non-null object
DATEDAY      195939 non-null int64
TIME         195939 non-null int64
ENTRIES      195939 non-null int64
EXITS        195939 non-null int64
dtypes: int64(4), object(2)
memory usage: 9.0+ MB

In [194]:
df.loc[(df.TIME%4 != 0) & ((df.TIME-1)%4 != 0), ['STATION', 'ENTRIES', 'EXITS']].groupby('STATION').sum()

                 ENTRIES    EXITS
STATION
34 ST-PENN STA   3994359  2806657
42 ST-PORT AUTH  2782929  2180787
5 AV/53 ST       1616525  1760132
5 AV/59 ST       1443063  1001946
9TH STREET             0        0
FULTON ST        1964983  2184815
LACKAWANNA             0        0
TOMPKINSVILLE      56246        1
WALL ST          1373558  1042785
WILSON AV              0        0

In [198]:
df.loc[(df.STATION=='WALL ST') & (df.TIME%4 != 0) & ((df.TIME-1)%4 != 0), ['STATION', 'ENTRIES', 'EXITS']].sum()

STATION    WALL STWALL STWALL STWALL STWALL STWALL STWALL...
ENTRIES                                              1373558
EXITS                                                1042785
dtype: object

In [199]:
df.loc[(df.STATION=='WALL ST') & ((df.TIME%4 == 0) | ((df.TIME-1)%4 == 0)), ['STATION', 'ENTRIES', 'EXITS']].sum()

STATION    WALL STWALL STWALL STWALL STWALL STWALL STWALL...
ENTRIES                                              1824735
EXITS                                                1772330
dtype: object

In [204]:
raw_df.loc[(raw_df.TIME=='03:00:00')]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
11716,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,05/28/2016,03:00:00,REGULAR,1639953,452005
11722,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,05/29/2016,03:00:00,REGULAR,1640271,452073
11728,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,05/30/2016,03:00:00,REGULAR,1640526,452143
11734,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,05/31/2016,03:00:00,REGULAR,1640781,452204
11740,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,06/01/2016,03:00:00,REGULAR,1641911,452429
11746,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,06/02/2016,03:00:00,REGULAR,1643066,452675
11752,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,06/03/2016,03:00:00,REGULAR,1644167,452902
11758,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,05/28/2016,03:00:00,REGULAR,3942349,1927703
11764,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,05/29/2016,03:00:00,REGULAR,3942546,1928103
11770,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,05/30/2016,03:00:00,REGULAR,3942748,1928463
11776,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,05/31/2016,03:00:00,REGULAR,3942956,1928732
11782,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,06/01/2016,03:00:00,REGULAR,3943727,1929435
11788,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,06/02/2016,03:00:00,REGULAR,3944524,1930162
11794,A077,R028,03-03-00,FULTON ST,ACJZ2345,BMT,06/03/2016,03:00:00,REGULAR,3945315,1930889
11800,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,05/28/2016,03:00:00,REGULAR,1309028770,537241418
11806,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,05/29/2016,03:00:00,REGULAR,1309028881,537241642
11812,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,05/30/2016,03:00:00,REGULAR,1309029049,537241844
11818,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,05/31/2016,03:00:00,REGULAR,1309029195,537242003
11824,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,06/01/2016,03:00:00,REGULAR,1309029805,537242416
11830,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,06/02/2016,03:00:00,REGULAR,1309030489,537242913
11836,A077,R028,03-03-01,FULTON ST,ACJZ2345,BMT,06/03/2016,03:00:00,REGULAR,1309031184,537243388
11842,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,05/28/2016,03:00:00,REGULAR,1661545298,1141144729
11848,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,05/29/2016,03:00:00,REGULAR,1661545335,1141144990
11854,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,05/30/2016,03:00:00,REGULAR,1661545457,1141145218
11860,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,05/31/2016,03:00:00,REGULAR,1661545632,1141145409
11866,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,06/01/2016,03:00:00,REGULAR,1661546622,1141145845
11872,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,06/02/2016,03:00:00,REGULAR,1661547666,1141146290
11878,A077,R028,03-03-02,FULTON ST,ACJZ2345,BMT,06/03/2016,03:00:00,REGULAR,1661548770,1141146705
11884,A081,R028,04-00-00,FULTON ST,ACJZ2345,BMT,05/28/2016,03:00:00,REGULAR,67811,412956
11890,A081,R028,04-00-00,FULTON ST,ACJZ2345,BMT,05/29/2016,03:00:00,REGULAR,67855,413250
...,...,...,...,...,...,...,...,...,...,...,...
119178,R113,R028,01-06-03,FULTON ST,2345ACJZ,IRT,08/18/2016,03:00:00,REGULAR,394900,83673
119184,R113,R028,01-06-03,FULTON ST,2345ACJZ,IRT,08/19/2016,03:00:00,REGULAR,395708,83860
119190,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/13/2016,03:00:00,REGULAR,719689,1520166
119196,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/14/2016,03:00:00,REGULAR,720042,1521162
119202,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/15/2016,03:00:00,REGULAR,720268,1521935
119208,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/16/2016,03:00:00,REGULAR,721133,1523816
119214,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/17/2016,03:00:00,REGULAR,722088,1525696
119220,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/18/2016,03:00:00,REGULAR,723048,1527592
119226,R114,R028,02-00-00,FULTON ST,2345ACJZ,IRT,08/19/2016,03:00:00,REGULAR,723970,1529552
119232,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/13/2016,03:00:00,REGULAR,426091,409980
119238,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/14/2016,03:00:00,REGULAR,426274,410279
119244,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/15/2016,03:00:00,REGULAR,426394,410526
119250,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/16/2016,03:00:00,REGULAR,426907,410972
119256,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/17/2016,03:00:00,REGULAR,427460,411426
119262,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/18/2016,03:00:00,REGULAR,428011,411915
119268,R114,R028,02-00-01,FULTON ST,2345ACJZ,IRT,08/19/2016,03:00:00,REGULAR,428568,412381
119274,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/13/2016,03:00:00,REGULAR,333452,656820
119280,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/14/2016,03:00:00,REGULAR,333575,657342
119286,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/15/2016,03:00:00,REGULAR,333631,657756
119292,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/16/2016,03:00:00,REGULAR,334071,658595
119298,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/17/2016,03:00:00,REGULAR,334530,659469
119304,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/18/2016,03:00:00,REGULAR,334972,660320
119310,R114,R028,02-00-02,FULTON ST,2345ACJZ,IRT,08/19/2016,03:00:00,REGULAR,335421,661243
119316,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/13/2016,03:00:00,REGULAR,418248,1053824
119322,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/14/2016,03:00:00,REGULAR,418347,1054595
119328,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/15/2016,03:00:00,REGULAR,418413,1055129
119334,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/16/2016,03:00:00,REGULAR,418972,1056556
119340,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/17/2016,03:00:00,REGULAR,419603,1058062
119346,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/18/2016,03:00:00,REGULAR,420260,1059616
119352,R114,R028,02-00-03,FULTON ST,2345ACJZ,IRT,08/19/2016,03:00:00,REGULAR,420929,1061163

In [128]:
with open('mta-summer2016-rev03.csv', 'wb') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['STATION', 'DATE', 'DAY', 'TIME', 'ENTRIES', 'EXITS'])
    for k, v in d.items():
        for e in v:
            writer.writerow([k] + e)

In [133]:
pd.options.display.float_format = '{:,.2f}'.format

In [134]:
import pandas as pd
import seaborn as sns
import pandasql as pdsql

# read csv into panda data frame to see values read from file into data frame
subway=pd.read_csv('mta-summer2016-rev03.csv')

In [135]:
#set up and execute sql to get average number of entries for a station-time on a weekday
pysql = lambda q: pdsql.sqldf(q, globals())
str1 = "select station,time,avg(exits) from subway where (day<6) group by station,time order by avg(exits) desc;"
df1 = pysql(str1)

#print df1
# use panda groupby to return average entries and exits for each station-time
grouped_data_1 = subway.groupby(['STATION','TIME']).mean()
print grouped_data_1

                      DAY  ENTRIES    EXITS
STATION         TIME
1 AV            0    2.98 3,700.92 3,581.36
                4    3.00   940.86   695.68
                8    3.00 1,279.35 2,403.98
                12   3.00 4,266.93 4,204.04
                16   3.00 4,094.95 3,918.45
                20   2.99 5,756.08 5,920.59
103 ST          1    2.98 2,015.99 2,797.05
                5    3.00   266.25   481.05
                9    3.00 5,993.99 2,545.69
                13   3.00 6,743.75 3,231.26
                17   3.00 6,744.89 4,432.31
                21   3.00 5,979.39 5,634.56
103 ST-CORONA   0    2.98 1,193.92 2,966.07
                4    3.00   262.13 1,083.21
                8    3.00 5,632.31   605.25
                12   3.00 4,884.13 1,413.18
                16   3.00 3,182.87 2,319.04
                20   3.00 2,664.79 4,819.50
104 ST          0    2.98   198.13   348.53
                4    3.00    53.88   102.11
                8    3.00 1,398.37    93.55
                12   3.00 1,059.31   209.67
                16   3.00   627.04   334.67
                20   3.00   468.17   798.86
110 ST          0    2.98   955.67 1,428.48
                4    3.00   184.50   409.71
                8    3.00 1,463.42   713.65
                12   3.00 3,141.31 1,382.77
                16   3.00 2,408.67 1,696.12
                20   3.00 2,369.00 2,481.54
...                   ...      ...      ...
WOODHAVEN BLVD  20   3.00   747.37   689.61
                21   3.00 4,002.95 3,642.64
WOODLAWN        0    2.98   685.34   327.17
                1    2.00   368.00   298.00
                4    3.00   146.79   122.23
                8    3.00 1,883.35   122.85
                12   2.95 1,373.05   251.50
                13   1.00     0.00     0.00
                16   2.99 1,234.05   330.19
                17   1.00 2,022.00   469.00
                20   2.99 1,314.89   571.55
                21   1.00 1,875.00   721.00
WORLD TRADE CTR 0    2.98 1,298.80   706.30
                4    3.00   165.51   140.08
                8    3.00   601.49   782.31
                12   3.00 1,673.42 2,208.26
                16   3.00 3,189.31 1,594.20
                20   3.00 6,061.50 1,881.76
YORK ST         1    2.98   911.63   494.72
                5    3.00    69.51    82.25
                9    2.98   991.73   985.41
                13   3.00 1,396.58 1,936.44
                17   3.00 2,456.88 1,373.15
                21   3.00 3,449.15 1,296.65
ZEREGA AV       1    2.98    89.17   259.70
                5    3.00    48.94    75.37
                9    3.00   784.15   310.44
                13   3.00   433.31   255.45
                17   3.01   462.89   405.55
                21   3.00   288.18   591.51

[2374 rows x 3 columns]